In [155]:
import pandas as pd
import numpy as np


fr = '2019-08-26'   # enter from date    
to = '2019-09-16'   # enter to date 
water = 0
council = 0
maintenance = 0
other = 0

In [156]:
index = pd.date_range('2018-05-21','2029-09-23', freq='7D')

In [157]:
fcast = np.repeat(650,len(index))

In [158]:
df = pd.DataFrame ({'Wk Beg':index, 'Fcast':fcast})

In [159]:
rental = pd.to_numeric(df[(df['Wk Beg']>=fr)&(df['Wk Beg']<to)].sum())
commission = rental * 5.5 /100
sundry = 2.75

print (commission)

Fcast    107.25
dtype: float64

In [160]:
pd.DataFrame({'Rental':rental,
              'Commission':commission,
              'Sundry':sundry,
              'Water':water,
              'Council':council,
              'Maintenance':maintenance,
              'In the Bank':rental-commission-sundry-water-council-maintenance})

       Rental  Commission  Sundry  Water  Council  Maintenance  In the Bank
Fcast    1950      107.25    2.75      0        0            0       1840.0

In [183]:
cdate = pd.date_range('2018-05-31','2020-05-31', freq='Q-MAY')
camt = np.repeat(385,len(cdate))

df_council = pd.DataFrame ({'Qtr':cdate, 'Council Rate':camt})

df_council

         Qtr  Council Rate
0 2018-05-31           385
1 2018-08-31           385
2 2018-11-30           385
3 2019-02-28           385
4 2019-05-31           385
5 2019-08-31           385
6 2019-11-30           385
7 2020-02-29           385
8 2020-05-31           385